/BaseBackend/*.rbc
/BaseBackend/capybara-*.html
/BaseBackend/.rspec
/BaseBackend/log
/BaseBackend/tmp
/BaseBackend/db/*.sqlite3
/BaseBackend/public/system
/BaseBackend/coverage/
/BaseBackend/spec/tmp
/BaseBackend/**.orig
/BaseBackend/rerun.txt
/BaseBackend/pickle-email-*.html

# TODO Comment out these rules if you are OK with secrets being uploaded to the repo
/BaseBackend/config/initializers/secret_token.rb
/BaseBackend/config/secrets.yml

## Environment normalisation:
/BaseBackend/.bundle
/BaseBackend/vendor/bundle

# these should all be checked in to normalise the environment:
# Gemfile.lock, .ruby-version, .ruby-gemset

# unless supporting rvm < 1.11.0 or doing something fancy, ignore this:
/BaseBackend/.rvmrc

# if using bower-rails ignore default bower_components path bower.json files
/BaseBackend/vendor/assets/bower_components
/BaseBackend/*.bowerrc
/BaseBackend/bower.json
